<head>
    <title>Web Chat</title>
    <!--meta http-equiv="refresh" content="5"-->
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="/static/chat.js" defer></script>
</head>
<body class="App-header">
    <h1>Web Chat</h1>
    {% if username != '' %}
        <div>
            <ul class="message-holder" id="message-holder"></ul>
        </div>
        <form id="message-form">
            <input type="text" name="username" value="{{ username }}" placeholder="User name ..."  id="user-text" style="display: none;"/>
            <input type="text" name="message"  placeholder="Type your message ..." id="message-text"/>
            <input type="submit" id="message-send-button"/>
        </form>
    {% else %}
        <div>
            <h5>Please <a href="/login">log in</a> to join the chat!</h5>
        </div>
    {% endif %}
    {% include "footer.html" %}
</body>