<div>
    <a href="/"/>Home</a>
    <a href="/ueber-uns">Über uns</a>
    <a href="/preise">Preise</a>
    <a href="/kontakt">Kontakt</a>
    <a href="/chat">Chat</a>
</div>
<div>
    <br>
    {% if template_name != "login.html" %}
        {% if username != '' %}
            {{username}} <a href="/logout">logout</a>
        {% else %}
            <a href="/login">login</a>
        {% endif %}
    {% endif %}
</div>
<div class="floating-message" id="message-div" style="display: none;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>

            <script>
                const messageElement = document.getElementById('message-div');
                messageElement.style.display = 'block'; // show message
                setTimeout(function() { messageElement.remove(); }, 2000); // 2000ms
            </script>
        {% endif %}
    {% endwith %}
</div>